.main-nav {
  position: relative;
  flex-shrink: 2;
  border: 1px solid transparent;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: relative;
  width: 37px;
  height: 10px;
  margin: 25px 20px 19px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: -1px;
  right: 0;

  width: 37px;
  height: 1px;
  background-color: $second-color;
  box-shadow: 0 10px 0 0 $second-color;
  outline: none;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: $second-color-active;
  box-shadow: 0 10px 0 0 $second-color-active;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $second-color-active;
  box-shadow: 0 10px 0 0 $second-color-active;
}

@media (max-width: $tablet-width) {
  .main-nav__toggle {
    margin: 19px 20px 19px 0;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__toggle {
    margin: 12px 20px 19px 0;
  }
}
