.products {
  background-color: $primary-color;
}

.products__wrapper {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 93px 0 99px;

  & h2 {
    margin-bottom: 47px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $second-color;
  }

  & h3 {
    width: 55%;
    margin-top: 53px;
    margin-left: 47px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $second-color;
  }
}

.products__list {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
}

a.products__item {
  cursor: pointer;
}

.products__item {
  position: relative;
  width: 31.57%;
  //max-width: 370px;
  min-height: 620px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;

  &:nth-child(3n) {
    margin-right: 0;
  }

  ::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;

    width: 63px;
    height: 63px;
    background-color: $third-color;
    background-image: url("../img/arrow_to_right.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.products__item--production {
  background-image: url("../img/bg_product1.png");
}

.products__item--assembling {
  background-image: url("../img/bg_product2.png");
}

.products__item--components {
  background-image: url("../img/bg_product3.png");
}

.products__item:hover,
.products__item:focus {
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .products__wrapper {
    width: 93.5%;
    padding: 50px 0 32px;

    & h2 {
      margin-bottom: 50px;
      font-size: 32px;
      line-height: 140.62%;
    }

    & h3 {
      width: 190px; //25%;
      margin-top: 41px;
      margin-left: 45px;
    }
  }

  .products__list {
    display: flex;
    flex-direction: column;
  }

  .products__item {
    width: 100%;
    min-height: 256px;
    margin-bottom: 46px;
  }

  .products__item--production {
    background-image: url("../img/bg_product1_tablet.png");
    background-size: cover;
  }

  .products__item--assembling {
    background-image: url("../img/bg_product2_tablet.png");
    background-size: cover;
  }

  .products__item--components {
    background-image: url("../img/bg_product3_tablet.png");
    background-size: cover;
  }
}

@media (max-width: $mobile-width) {
  .products__wrapper {
    width: 92%;
    padding: 50px 0 33px;

    & h2 {
      width: 110%;
      margin-left: 10px;
      margin-bottom: 43px;
      font-size: 28px;
      line-height: 39px;
      letter-spacing: 0.005em;
      transform: scale(0.8, 1) translate(-14%, 0);
    }

    & h3 {
      width: 192px; //25%;
      margin-top: 20px;
      margin-left: 35px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.005em;
    }
  }

  .products__item {
    min-height: 256px;
    margin-bottom: 30px;
  }

  .products__item--production {
    background-image: url("../img/bg_product1_mobile.png");
    background-size: cover;
  }

  .products__item--assembling {
    background-image: url("../img/bg_product2_mobile.png");
    background-size: cover;
  }

  .products__item--components {
    background-image: url("../img/bg_product3_mobile.png");
    background-size: cover;
  }
}
