.promo {
  position: relative;
  min-height: 885px;
  margin-top: -97px; //-143
  //margin-bottom: 112px;
  background-color: $primary-color;
  background-image: url("../img/header_bg.png"), url("../img/bg_triangles.png"), url("../img/bg_boards.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center center, 70% 5px, 86% 259px;
  background-size: cover, 100%, 37%;
  z-index: 0;

  & h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-size: 80px;
    line-height: 94px;
    font-weight: bold;
    font-stretch: ultra-condensed;
    // letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $second-color;
    padding-top: 325px;
    margin-bottom: 27px;
  }

  & span {
    display: inline-block;
    max-width: 683px;
    padding-left: 20px;
    font-family: "PT Mono", monospace;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: $second-color;
    margin-bottom: 43px;

    &.promo__button-text-desktop {
      max-width: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}

.promo__wrapper {
  position: relative;
  //margin-left: 13%;
  width: 74%;
  max-width: $desktop-width;
  margin: 0 auto;
}

.promo__line {
  display: inline-block;
  width: 66px;
  height: 2px;
  margin-top: 16px;
  margin-left: 3px;
  vertical-align: top;
  background-color: $second-color;
}

.promo__button {
  display: block;
  margin-left: 97px;
}

span.promo__button-text-desktop {
  display: inline;
}

span.promo__button-text-mobile {
  display: none;
}

.promo__scroll {
  position: absolute;
  font-family: "PT Mono", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  transform: rotate(-90deg);
  color: $second-color;
  opacity: 0.5;
  cursor: pointer;

  left: -35px;
  bottom: -10.42vw; //-148px;
}

@media (max-width: $tablet-width) {
  .promo {
    min-height: 687px;
    margin-top: -143px;
    background-position: center center, 50% -70px, 159% 175px;
    background-size: cover, 198%, 58%;

    & h1 {
      max-width: 450px;
      padding-left: 63px;
      padding-top: 252px;
      margin-bottom: 29px;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.0008em;
    }

    & span {
      max-width: 356px;
      padding-left: 7px;
      font-size: 18px;
      line-height: 156.8%;
      margin-bottom: 55px;

      &.promo__button-text-desktop {
        padding: 18px 14px 17px 14px;
      }
    }
  }

  .promo__wrapper {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1px;
  }

  .promo__line {
    width: 33px;
    margin-top: 15px;
    margin-left: 66px;
  }

  .promo__scroll {
    display: none;
  }

  .promo__button {
    margin-left: 115px;
    margin-bottom: 163px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    min-height: 647px;
    margin-top: -69px;
    background-position: center center, 55.5% -135px, 159% 90px;
    background-size: cover, 450%, 95%;

    & h1 {
      max-width: 277px;
      padding-left: 4px;
      padding-top: 287px;
      margin-bottom: 25px;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.0007em;
    }

    .promo__line {
      width: 33px;
      margin-top: 15px;
      margin-left: 8px;
    }

    & span {
      max-width: 76.6%;
      padding-left: 7px;
      font-size: 16px;
      line-height: 157%;
      margin-bottom: 41px;
    }
  }

  .promo__button {
    margin-left: 8px;
    margin-bottom: 69px;
  }

  span.promo__button-text-desktop {
    display: none;
  }

  span.promo__button-text-mobile {
    display: inline;
  }
}
