/*----- Основные цвета -----*/
$primary-color: rgba(27, 45, 55, 1);
$second-color: rgba(255, 255, 255, 1);
$second-color-active: rgba(255, 255, 255, 0.5);
$second-color-form: rgba(255, 255, 255, 0.1);
$second-color-form-active: rgba(255, 255, 255, 0.3);
$third-color: rgba(0, 178, 255, 1);
$third-color-active: rgba(0, 178, 255, 0.8);
$border-color: rgba(235, 235, 235, 1);
$text-color: rgba(102, 102, 102, 1);


/*----- Размеры экранов -----*/
$min-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1420px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
