/*----- Основные цвета -----*/
$primary-color: rgba(27, 45, 55, 1);

/*----- Размеры экранов -----*/
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$wide-desktop-width: 1670px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
