/*----- Основные цвета -----*/
$primary-color: rgba(27, 45, 55, 1);
$second-color: rgba(255, 255, 255, 1);
$second-color-active: rgba(255, 255, 255, 0.5);
$third-color: rgba(0, 178, 255, 1);
$third-color-active: rgba(0, 178, 255, 0.8);


/*----- Размеры экранов -----*/
$min-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1420px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
